<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Simple Website Template with Sticky Sidebar</title>
    <meta name="description" content="Free responsive website HTML theme with sticky sidebar for both desktop and mobile. ">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
<header>
	<div id="header">
		<div class="socialButtons">
			<a class="facebook" href="https://www.facebook.com/htmlcoding">f</a>
			<a class="linkedin" href="https://www.linkedin.com/in/ferencdenes/">in</a>
			<a class="youtube" href="https://www.youtube.com/channel/UCn38Jw1sJzbjVHO95Zp0Sww/videos">&#128898;</a>
			<a class="twitter" href="https://twitter.com/RuwixCube">
			
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

	<g>
		<path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
			c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
			c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
			c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
			c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
			c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
			C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
			C480.224,136.96,497.728,118.496,512,97.248z"/>
	</g>
</svg>
			
			</a>
		</div>
		<div id="mobileMenuToggle" title="Menu">M</div>
		<a href="/" id="mobileLogo"></a>
		<div id="headerLeft">
			<div id="menuToggle">&equiv;</div>
		</div>
		<div id="headerRight">
			<nav>  
				<ul>
					<li><a href="{{url_for('index')}}">Home</a>
					<li><a href="{{url_for('order')}}">Order</a>
					<li><a rel="{{url_for('about')}}">About</a>
                                        
					
				
				</ul>
			</nav>
		</div>
	</div>
</header>
<div id="wrapall">
	<div id="sidebar">
		<div id="stickThis">
			<div id="sidebarContent">
				<a id="logo" href="https://eventorganizer.com/">EVENT ORGANIZER</a>
				<aside>
					<div>Sidebar 1</div>
					<div>Sidebar 2</div>
					<div>Sidebar 3</div>
					<div>Sidebar 4</div>
					<a class="back2Top" href="#">⮝&nbsp;Back to&nbsp;top&nbsp;⮝</a>
				</aside>
			</div>
		</div>
		<div id="stick-here"></div>


section id="pageContent">
		<main role="main">
                                 <article>
					<h2>MARRIAGE ORGANIZER</h2>
					<p>Unique Event Service Providers like Flower Dropping (in Social, Religious, Corporate event), Flying Varmala, LED Banner Flying, LED Display Flying with Special Effect, Flex Banner Flying, Follow Light Entry, Flying Fire Fountain, Cake Flying, Chocolate Dropping by Parachute, smiley Ball Kids Centre, Rotating Table, Ring Box, Drone Dance Show, Aerial Shooting, Baby Shower, Birthday Decoration, Balloon Decoration, Marriage Decoration and many more Unique Event as per your requirement. Contact Us For Making your Event Special.</p>
				</article>
				<article>
					<h2>BIRTHDAY ORGANIZER</h2>
					<p>We are ranked amongst the renowned organizations that are engaged to provide the best quality Birthday Party Organiser Services. The offered service is executed by our highly qualified professionals using premium grade machines and latest technology. Our skilled professionals properly examine all the parameters associated to this service and carry out it in the best possible manner. Further, the provided service is performed as per the clients’ specific needs with respect to their budgetary constraints.</p>
				</article>
				<article>
					<h2>CONCERTS ORGANIZER</h2>
					<p>Empowered by the love of the clients, we are involved in organizing Event for the clients. The exhibition decoration events are renowned among our client base since it is designed by the experts to attract the beloved customer base within least amount of time. These exhibition decoration events also are used by the corporate and the multinational companies for the exhibition of their products and the services.</p>
				</article>
			




                               
                    
            <img src="images/th.jpg" alt="">
            
        </div>

    </div>

</section>


